@import url("https://use.typekit.net/tkm2mmq.css");

html,
body {
  background: #eff1f3;
  color: #364046;
  font-family: acumin-pro, sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  text-align: center;
  max-width: 1200px;
  margin: 20px;
  z-index: 100;
}
.container * {
  margin-bottom: 10px;
}

.logo {
  margin: 0 auto;
  width: 150px;
}

h1 {
    font-size: 1.25rem;
    margin-top: 0;
}

.desc {
    font-size: .7rem;
    margin-bottom: 25px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .6rem;
}

.social * {
  margin: 0;
  margin-right: 10px;
}

a {
  color: #0096f5;
  text-decoration: none;
  font-weight: 700;
  opacity: 1;
}

a.uib {
  color: #cf3c3a;
}

a:hover {
  opacity: 0.5;
}

a:active {
  opacity: 0.75;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    color: #eee;
  }
}

@media screen and (max-width: 475px) {
  h1 {
    font-size: .9rem;
  }

  .desc {
    font-size: .5rem;
  }

  .social {
    justify-content: space-around;
  }
}