$font-family-sans: -apple-system, BlinkMacSystemFont, Segoe UI, avenir next,
  avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
$font-family-mono: FMono-Regular, Consolas, DejaVu Sans Mono, Liberation Mono,
  Menlo, monospace;
$font-family-serif: Iowan Old Style, Apple Garamond, Baskerville, Georgia,
  Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
  Apple Color Emoji;

$spacingSmall: 0.5rem;
$spacing: 1rem;
$spacingLarge: 1.5rem;
$b-sm: 640px;
$b-md: 768px;

:root {
  --wrapper: 760px;
  --color-primary: #0096f5;
  --color-background: #212121;
  --color-default-text: #fefefe;
  font-family: $font-family-sans;
  font-size: clamp($spacing, 2vw, 18px);
  background-color: var(--color-background);
  color: var(--color-default-text);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #0d47a1;
    --color-background: #eeeeee;
    --color-default-text: #212121;
  }
}

@mixin wrapper() {
  max-width: var(--wrapper);
  margin-inline: auto;
  padding-inline: $spacingSmall;
}

@mixin flex($justify: flex-start, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin list($style: none, $display: flex, $gap: $spacing) {
  list-style: $style;
  display: $display;
  gap: $gap;
  padding: 0;
  margin: 0;
}

a {
  --color-text: var(--color-primary);
  color: var(--color-text);
  text-decoration: none;
  font-weight: 600;
  transition: all ease 150ms;

  &:hover {
    background: var(--color-text);
    color: var(--color-background);
  }
}

h1 {
  font-size: 1.75rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h2,
h3 {
  margin: 0.5rem 0;
}

p {
  hyphens: auto;
  max-width: 65ch;
  line-height: 1.5;
}

blockquote {
  margin: 0;
  padding: $spacingSmall 0 $spacingSmall $spacing;
  border-left: $spacingSmall solid var(--color-default-text);

  p {
    margin: 0;
  }
}

strong {
  font-weight: 600;
}

/*
    Syntax highlighting
*/
$code-bg-dark: #151515;

code {
  color: #abb2bf;
}
pre,
code {
  background: $code-bg-dark !important;
  padding: $spacingSmall $spacing;
  border-radius: $spacingSmall;
  line-height: 1.5;

  * {
    font-family: $font-family-mono;
  }
}

pre {
  overflow-x: auto;
}

code {
  padding: 0.25rem $spacingSmall;
  word-wrap: break-word;
}

pre code {
  padding: 0;
}

picture {
  img {
    max-width: 100%;
  }
  figcaption {
    color: var(--color-default-text);
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5;
    padding-block: $spacingSmall;
    border-bottom: 1px solid var(--color-default-text);
  }
}

.anchor {
  padding-left: $spacingSmall;
}

.hidden {
  display: none;
}

header.header {
  @include wrapper();
  @include flex(space-between);
  margin-block-end: $spacing;

  .header__logo {
    svg {
      max-width: 4rem;
    }
  }

  .nav__list {
    @include list();
  }
}

footer.footer {
  @include wrapper();
  @include flex(space-between);
  gap: $spacingSmall;
  margin-block: $spacingLarge;

  @media (max-width: $b-sm) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .nav__list {
    @include list();
  }
}

.wrapper {
  @include wrapper();
}

.blog {
  @include list(none, block);
  margin-block-end: $spacing;

  & > *:not(:last-of-type) {
    margin-block: $spacing;
  }

  .blog__post {
    @include flex(space-between, flex-start);
    gap: $spacingSmall;

    @media (max-width: $b-sm) {
      flex-wrap: wrap-reverse;
    }

    p {
      margin-block-start: $spacingSmall;
      margin-block-end: 0;
    }
  }
}

article.post {
  .post-header {
    margin-block-end: $spacing;
  }

  h1 {
    margin-block: 0 $spacingSmall;
  }

  .post__tags {
    @include list($gap: $spacingSmall);
  }

  ul, ol {
    padding-left: $spacingLarge;
    line-height: 1.5;
  }
}

.page-content {
  .page__subnav ul {
    @include list();
  }
}

section.resume h2 {
  margin-block-end: $spacing;
}

.experience {
  //@include flex();

  &__header {
    @include flex();
    gap: $spacing;
  }

  &__logo {
    max-width: 3.5rem;
  }

  &__role {
    margin-block: $spacingSmall $spacing;
  }

  .role__name {
    margin: 0;
    margin-block-end: $spacing;
  }

  .role__list {
    padding-left: $spacing;
    max-width: 65ch;

    & > *:not(:last-of-type) {
      margin-block-end: $spacingSmall;
    }
  }
}

.skill__category {
  margin-block-end: $spacing;
  @media (min-width: $b-sm) {
    @include flex($justify: space-between);
    flex-wrap: nowrap;
    & > * {
      width: 50%;
    }
  }

}

@media print {
  header.header, footer.footer, .full-cv {
    display: none;
  }
}
