ul.blog {
    margin-left: 0;

    li {
        .date {
            float: right;
        }
    }
}

article {
    .post-header {
        .post-meta {
            margin-top: 0;
            margin-bottom: 1.5em;
        }
    }
}
