a {
	@media (prefers-color-scheme: dark) {
		color: $primary-color;
	}
	color: $secondary-color;
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	transition: 150ms;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.75;
	}
}

h1 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 3rem;
}

p {
	font-size: 1.25rem;
	font-weight: normal;
}

@media screen and (max-width: $site-max-width) {
	h1 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: $breakpoint-medium2) {
	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}
}

@media screen and (max-width: $breakpoint-xtra-small) {
	h1 {
		font-size: 1.5rem;
	}
}

::selection {
	background: $primary-color;
	color: $primary-light-color;
}
