a {
	@media (prefers-color-scheme: dark) {
		color: $primary-color;
	}
	color: $secondary-color;
	text-decoration: none;
	font-weight: 700;
	opacity: 1;
	transition: 150ms;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.75;
	}
}

h1 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 2rem;
}

::selection {
	background: $primary-color;
	color: $primary-light-color;
}
