header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;

    @media screen and (max-width: $breakpoint-small) {
        margin-bottom: 25px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        svg {
            width: 75px;
        }

        &:focus {
            outline: none;
            box-shadow:
                0 0 0 5px $primary-color;
        }
    }

    nav {
        font-size: 1.25rem;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;

                a {
                    padding: 10px;
                    border-radius: 5px;

                    &:hover,
                    &:focus {
                        outline: none;
                        @media (prefers-color-scheme: dark) {
                            background: #3a3a3a;
                        }
                        background: $secondary-light-color;
                        transition: all 350ms;
                    }

                    &.page-link.current {
                        @media (prefers-color-scheme: dark) {
                            background: #3a3a3a;
                        }
                        background: $secondary-light-color;
                    }
                }

                &:not(:last-of-type) {
                    margin-right: 15px;
                }
            }
        }
    }
}
