header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;

	@media screen and (max-width: $breakpoint-small) {
		margin-bottom: 25px;
	}

	svg {
		width: 75px;
	}

	nav {
		font-size: 1.5rem;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;

				&:not(:last-of-type) {
					margin-right: 15px;
				}
			}
		}
	}
}
