$site-max-width: 760px;

$primary-color: #0096f5;
$secondary-color: #006eb3;
$primary-dark-color: #212121;
$secondary-dark-color: #8f8f8f;
$primary-light-color: #eee;
$secondary-light-color: #c7c7c7;

$breakkpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-medium: 768px;
$breakpoint-medium2: 600px;
$breakpoint-small: 520px;
$breakpoint-xtra-small: 375px;
