{% extends "base/base.html" %}
{% block head %}
  {% set title = taxonomy.name|capitalize %}
  {% set title = title ~ " - " ~ config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}

<section class="page-content">
  <h1 class="page-title">{{ taxonomy.name|capitalize }}</h1>
  <ul class="tags-list">
    {% for term in terms %}
      <li><a href="{{ term.permalink }}">{{ term.name }}</a> ({{ term.pages|length }} post{{ term.pages|length|pluralize }})</li>
    {% endfor %}
  </ul>
</section>

{% endblock content %}
