{% import "macros.html" as macros %}
{% extends "base/base.html" %}

{% block head %}
  {% set taxonomy_name = taxonomy.name|capitalize %}
  {% set title = taxonomy_name ~ ": " ~ term.name ~ " - " ~ config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}

<section class="blog">
  <h1 class="page-title">Tag: {{ term.name }}</h1>
  {{ macros::bloglisting(posts=term.pages, showDescription=false) }}
  See all <a href="/{{ taxonomy.name }}">{{ taxonomy.name }}</a>
</section>

{% endblock content %}
