{% import "macros.html" as macros %}
{% extends "base/base.html" %}

{% block head %}
  {% set taxonomy_name = taxonomy.name|capitalize %}
  {% set title = taxonomy_name ~ ": " ~ term.name ~ " - " ~ config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}

<section class="page-content">
  <h1 class="page-title">{{ term.name }}</h1>
  <ul class="blog">
    {% for post in term.pages %}
      {{ macros::bloglisting_item(post=post, showDescription=false) }}
    {% endfor %}
  </ul>
  See all <a href="/{{ taxonomy.name }}">{{ taxonomy.name }}</a>
</section>

{% endblock content %}
