---
layout: default
title: Résumé
permalink: /resume
menu: main
description: Tim Hårek's résumé. Experience, education and skills.
redirect_from:
  - /cv
---

{% assign resume = site.data.resume %}

<section class="resume">
    <h1 class="resume__name">{{ resume.name }}</h1>
    <div class="resume__secret"></div>

    <div class="resume__tldr">
        <h2>tl;dr</h2>
        <p>{{ resume.tldr }}</p>
    </div>
    {% include resume/section.html title="Work experience" array=resume.work reversed="false" %}
    {% include resume/section.html title="Education" array=resume.education %}
    {% include resume/section.html title="Voluntary experience" array=resume.voluntary %}
    <div class="resume__skills">
        <h2>Skills</h2>
        {% for skill in resume.skills %}
            {% include resume/skill.html title=skill.name array=skill.list %}
        {% endfor %}
    </div>
    <span class="resume__last-update">
        Last update: {{ resume.last_update | date: "%Y-%m-%d" }}
    </span>
</section>
