<!DOCTYPE html>
<html lang="{{ lang }}">
  {% set logo = get_url(path=config.extra.logo) %}
  {% set cover = get_url(path=config.extra.cover) %}
  {% block head %} 
    {% set title = page.title ~ " - " ~ config.title %}
    {% set description = page.description | default(value=config.description) %}
  {% endblock head %}
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    {# SEO #}
    <meta name="description" content="{{ description }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ cover | safe }}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:url" content="{{ current_url | default(value=config.base_url) | safe }}" />
    <meta property="og:image" content="{{ cover | safe }}" />

    {# Favicon #}
    <link rel="shortcut icon" sizes="192x192" href="{{ logo | safe }}" />
    <link rel="apple-touch-icon" href="{{ logo | safe }}" />
    <link rel="mask-icon" href="{{ logo | safe }}" />

    {# Styles #}
    <link rel="preload" href="{{ get_url(path="main.css") | safe }}" as="style"/> 
    <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
    <meta name="color-scheme" content="dark light">

    <script
      async
      defer
      data-domain="timharek.no"
      src="https://timharek.no/js/script.js"
    ></script>

    <link href="{{ get_url(path="rss.xml") | safe }}" rel="feed"
    type="application/rss+xml" title="{{ config.title }}" />
    <link href="https://github.com/timharek" rel="me" />
    <link href="https://sr.ht/~timharek/" rel="me" />
    <link href="https://codeberg.org/timharek" rel="me" />
    <link href="mailto:tim@harek.no" rel="me" />
    <link href="{{ get_url(path="public-key.asc") }}" rel="pgpkey authn" />
  </head>
  <body>
    {% include "base/header.html" %}
    <main class="wrapper">
      {% block content %}{% endblock content %} 
    </main>
    {% include "base/footer.html" %}
  </body>
</html>
