<footer class="footer">
  <div>
    Last deploy: <time datetime="{{ now() | date(format="%Y-%m-%d %H:%M") }}">{{ now() | date(format="%Y-%m-%d %H:%M") }} UTC</time>
  </div>

  <nav class="footer__nav" aria-label="Secondary navigation">
    <ul class="nav__list">
    {% for footer_item in config.extra.footer_nav %}
      {% set path = footer_item.path ~'/' %}

      <li class="nav__item">
        {% if current_path and current_path == path %}
          {{ footer_item.name | safe }}
        {% else %}
          <a class="footer__link" href="{{ get_url(path=footer_item.path) }}">
            {{ footer_item.name | safe }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>

</footer>

