<footer class="footer">
  <nav class="footer__container">
    {% for footer_item in config.extra.footer %}
      {% set path = footer_item.path ~'/' %}

      <a 
        {% if current_path and current_path == path %}
            class="footer__link footer__link--current"
        {% else %}
            class="footer__link"
        {% endif %}
        href="{{ footer_item.path }}">{{ footer_item.name | safe }}</a>
    {% endfor %}

  </nav>

  <div class="footer__container">
    <a class="footer__link" href="{{ get_url(path="rss.xml") }}">RSS</a>
  </div>
</footer>

