<footer class="footer">
  <div>
    {{ trans(key="last_deploy", lang=lang) }}: <time datetime="{{ now() | date(format="%Y-%m-%d %H:%M") }}">{{ now() | date(format="%Y-%m-%d %H:%M") }} UTC</time>
  </div>

  <nav class="footer__nav" aria-label="Secondary navigation">
    <ul class="nav__list">
      {% for menu_item in config.extra.footer_nav %}
        {% set_global path = menu_item.path %}
        {% if lang == "no" and path != "/rss.xml" %}
          {% set pre_path = path | split(pat=".") | first %}
          {% set_global path = pre_path ~ "." ~ lang ~ ".md" %}
        {% endif %}
        {% set_global path = path | replace(from="@/", to="") %}
        {% set_global page = "" %}
        {% if path is containing("_") %}
          {% set_global the_page = get_section(path=path) %}
        {% else %}
          {% set_global the_page = get_page(path=path) %}
        {% endif %}

          <li class="nav__item" {% if current_url and current_url == the_page.permalink %}aria-current="true"{% endif %}>
          {% if current_url and current_url == the_page.permalink %}
            {{ page.title | safe }}
          {% else %}
            <a class="footer__link" href="{{ the_page.permalink | default(value=get_url(path=menu_item.path)) }}">
              {{ the_page.title | default(value=menu_item.name) | safe }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
        <li class="nav__item">
          <a class="footer__link" href="{{ get_url(path="rss.xml") }}">RSS</a>
      </li>
    </ul>
  </nav>

</footer>

