{% set logo = get_url(path="img/symbol.svg") %} {% set cover = get_url(path="img/cover.png") %}
<head>
  <title>{% if page.title %}{{ page.title }} - {% elif section.title %}{{ section.title }} - {% endif %}{{ config.title }}</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#{{ config.extra.primary_color }}" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% elif section.title %}{{ section.title }} - {% endif %}{{ config.title }}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ cover | safe }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% elif section.title %}{{ section.title }} - {% endif %}{{ config.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% elif section.description %}{{ section.description }}{% else %}{{ config.description }}{% endif %}" />
  <meta property="og:url" content="{% if current_url %}{{ current_url | safe }}{% else %}{{ config.title }}{% endif %}" />
  <meta property="og:image" content="{{ cover | safe }}" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <link rel="shortcut icon" sizes="192x192" href="{{ logo | safe }}" />
  <link rel="apple-touch-icon" href="{{ logo | safe }}" />
  <link rel="mask-icon" href="{{ logo | safe }}" />

  <link rel="preload" href="{{ get_url(path="main.css") | safe }}" as="style" /> <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">

  <script async defer data-domain="timharek.no" src="https://timharek.no/js/script.js"></script>

  <link href="{{ get_url(path="rss.xml") | safe }}" rel="feed" type="application/rss+xml" title="{{ config.title }}" />
</head>
