@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url("JetBrainsMono-Light.woff2?v=3.15") format("woff2"), url("JetBrainsMono-Light.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 100;
	font-display: swap;
	src: url("JetBrainsMono-LightItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("JetBrainsMono-ExtraLight.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 200;
	font-display: swap;
	src: url("JetBrainsMono-ExtraLightItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-ExtraLightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("JetBrainsMono-Light.woff2?v=3.15") format("woff2"), url("JetBrainsMono-Light.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url("JetBrainsMono-LightItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("JetBrainsMono-Regular.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-Regular.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("JetBrainsMono-Italic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-Italic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("JetBrainsMono-Medium.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-Medium.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 500;
	font-display: swap;
	src: url("JetBrainsMono-MediumItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-MediumItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("JetBrainsMono-SemiBold.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-SemiBold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url("JetBrainsMono-SemiBoldItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-SemiBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("JetBrainsMono-Bold.woff2?v=3.15") format("woff2"), url("JetBrainsMono-Bold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url("JetBrainsMono-BoldItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-BoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("JetBrainsMono-ExtraBold.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-ExtraBold.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 800;
	font-display: swap;
	src: url("JetBrainsMono-ExtraBoldItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-ExtraBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
	font-family: "JetBrainsMono";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("JetBrainsMono-Black.woff2?v=3.15") format("woff2"), url("JetBrainsMono-Black.woff?v=3.15") format("woff");
}
@font-face {
	font-family: "JetBrainsMono";
	font-style: italic;
	font-weight: 900;
	font-display: swap;
	src: url("JetBrainsMono-BlackItalic.woff2?v=3.15") format("woff2"),
		url("JetBrainsMono-BlackItalic.woff?v=3.15") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'JetBrainsMono', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'JetBrainsMono var', sans-serif; }
  }
*/
@font-face {
	font-family: "JetBrainsMono var";
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: "Regular";
	src: url("JetBrainsMono-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
	font-family: "JetBrainsMono var";
	font-weight: 100 900;
	font-display: swap;
	font-style: italic;
	font-named-instance: "Italic";
	src: url("JetBrainsMono-italic.var.woff2?v=3.15") format("woff2");
}

/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
	font-family: "JetBrainsMono var experimental";
	font-weight: 100 900;
	font-display: swap;
	font-style: oblique 0deg 10deg;
	src: url("JetBrainsMono.var.woff2?v=3.15") format("woff2");
}
