{% extends "base/base.html" %}

{% block head %}
  {% set title = section.title ~ " - " ~ config.title %}
  {% set description = section.description | default(value=config.description) %}
{% endblock head %}

{% block content %}
<section class="blog">
<h1>{{ section.title }}</h1>
<ul class="blog">
  {% set pages = section.pages %}
  {% if paginator.pages %}
    {% set pages = paginator.pages %}
  {% endif %}
  {% for year, posts in pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>
    {% for post in posts %}
    <li class="blog__post">
      <div class="post__summary">
        <a
          href="{% if post.extra.link %}{{ post.extra.link }}{% else %}{{ post.permalink | trim_start_matches(pat=config.base_url) }}{% endif %}"
          >{{ post.title }}</a
        >
        <span> {{ post.description }} </span>
      </div>
      <span class="post__date"><time datetime="{{ post.date | date(format="%Y-%m-%d") }}">{{ post.date | date(format="%Y-%m-%d") }}</time></span>
    </li>
    {% endfor %}
  {% endfor %}
</ul>

{% if paginator.pages %}
<nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous page</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next page ›</a>
    {% endif %}
</nav>
{% endif %}
</section>

{% endblock content %}
