{% extends "layouts/page_wrapper.html" %}

{% block page_content %}

  {% if page.content %}
    {{ page.content | safe }}
  {% endif %}

  {% set feeds = load_data(path="static/api/blogroll.json") %}
  {% set feeds = feeds | sort(attribute="name") %}

  {% for type, feed_item in feeds | group_by(attribute="type") %}
      <h2>{{ type | capitalize }}{{ feed_item | length | pluralize }}</h2>
    <ul class="blogroll">
      {% for feed in feed_item %}
        {% if feed.color %}
          <li class="blogroll__item" style="--bg: {{ feed.color.bg }}; --text: {{ feed.color.text }}">
        {% else %}
          <li class="blogroll__item">
        {% endif %}
          <a href="{{ feed.url }}" target="_blank">{{ feed.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

{% endblock page_content %}
