{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% set title = section.title ~ " - " ~ config.title %}
  {% set description = section.description | default(value=config.description) %}
{% endblock head %}

{% block content %}
<section class="blog">
  {{ macros::breadcrumbs() }}
  <h1>{{ section.title }}</h1>
  {% set pages = section.pages %}
  {% if paginator.pages %}
    {% set pages = paginator.pages %}
  {% endif %}
  {% for year, posts in pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>
    <ul class="blog">
      {% for post in posts %}
        {{ macros::bloglisting_item(post=post) }}
      {% endfor %}
    </ul>
  {% endfor %}

{% if paginator.pages %}
<nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous page</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next page ›</a>
    {% endif %}
</nav>
{% endif %}
</section>

{% endblock content %}
