{% extends "base/base.html" %}

{% block content %}

<section class="page-content">
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.content %}
    {{ page.content | safe }}
  {% endif %}

  {% set roll = load_data(path="static/api/blogroll.json") %}
  {% set roll = roll.blogs | sort(attribute="name") %}

  <div class="blogroll">
    {% for blog in roll %}
      <div class="blogroll__item">
        <div class="blogroll__item__header">
          <h2>{{ blog.name }}</h2>
        </div>
        <div class="blogroll__item__body">
          <p>{{ blog.description }}</p>
          <ul class="blogroll__item__body__urls">
            <li><a href="{{ blog.url }}" target="_blank">Website</a></li>
            <li><a href="{{ blog.rss }}" target="_blank">RSS</a></li>
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
