{% extends "layouts/page_wrapper.html" %}
{% import "macros.html" as macros %}

{% block page_content %}

  {% set bookmarks = load_data(path=page.extra.input_file) | sort(attribute="date_added") | reverse %}

  <p>
    {{ content | safe }}
  </p>
  <p>
    There are {{ bookmarks | length }}
    bookmark{{ bookmarks | length | pluralize }}.
  </p>
  <ul class="bookmarks">
    {% for bookmark in bookmarks %}
      <li class="bookmarks__item">
        {{ macros::bookmark_item(bookmark=bookmark) }}
      </li>
    {% endfor %}
  </ul>

{% endblock page_content %}
