{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% set title = section.title ~ " - " ~ config.title %}
  {% set description = section.description | default(value=config.description) %}
{% endblock head %}

{% block content %}
{% set cv = load_data(path="content/cv/cv.json") %}
<section class="resume">
  <div class="resume__last-update">
    Updated <time datetime="{{ cv.last_update }}">{{ cv.last_update | date(format=config.extra.date_format) }}</time>
  </div>
  <h1 class="resume__name">{{ cv.basics.name }}</h1>

  <div class="resume__tldr">
    <h2>TL;DR</h2>
    <p>{{ cv.basics.summary }}</p>
  </div>

  {{ macros::cv_experiences(array=cv.work, title="Work") }}
  {{ macros::cv_experiences(array=cv.volunteer, title="Voluntary") }}
  {{ macros::cv_education(array=cv.education, title="Education") }}

  <div class="resume__skills">
    <h2>Skills</h2>
    {% for skills in cv.skills %}
      <section class="skill__category">
        <h3 class="skill__category-name">{{ skills.name }}</h3>
        <span class="skill__list">{{ skills.keywords | sort | join(sep=", ") }}</span>
      </section>
    {% endfor %}
  </div>
  <button class="print-hidden" onclick="window.print()">Print</button>
</section>

{% endblock content %}
