{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% if section %}
    {% set title = section.title ~ " - " ~ config.title %}
    {% set description = section.description | default(value=config.description) %}
    {% if section.updated %}
      {% set updated = section.updated | date(format=config.extra.date_format) %}
    {% endif %}
    {% if section.content %}
      {% set content = section.content %}
    {% endif %}
  {% endif %}
{% endblock head %}

{% block content %}

{% set files = section.extra.json_files %}
{% set person_field = section.extra.person_field %}
{% set is_date_field_array = section.extra.date_field_is_array %}

<section class="page-content page-log">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ section.title | default(value=page.title) }}</h1>
  {% if content %}
    {{ content | safe }}
  {% endif %}
  {% for file in files %}
    {% set array = load_data(path=file) %}
    {% if array[0].type %}
      <h2>{{ array[0].type | capitalize }}s</h2>
    {% endif %}
    {% for year, entries in array | reverse | group_by(attribute="date.0.year") %}
      <div class="log__year">
        <div class="log__year__header">
          <h3>{{ year }}</h3>
          <p>Count: {{ entries | length }}</p>
        </div>
        <div class="entries">
          {% for entry in entries %}
            <div class="entry">
              <div aria-label="Entry title">{{ entry.title }}</div>
              {% for field in person_field %}
                {% if entry.details[field] %}
                  <div aria-label="Entry {{ field }}{{ entry.details[field]|length | pluralize }}">
                    {% for person in entry.details[field] %}
                      {{ person }}{% if not loop.last %},{% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}
              {% set dateArray = entry.date | sort(attribute="year") | reverse %}
              <time aria-label="When entry was watched">
                {% for date in dateArray %}
                  {% if loop.index0 > 0 %}, {% endif %}{{ date.string }}
                {% endfor %}
              </time>
              <div aria-label="Entry rating">{{ macros::rating(max=5, rating=entry.details.my_rating) }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  <div class="count">
    Total count: {{ array | length }}
  </div>
  {% endfor %}
</section>

{% endblock content %}

