{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% if section %}
    {% set title = section.title ~ " - " ~ config.title %}
    {% set description = section.description | default(value=config.description) %}
    {% if section.updated %}
      {% set updated = section.updated | date(format=config.extra.date_format) %}
    {% endif %}
    {% if section.content %}
      {% set content = section.content %}
    {% endif %}
  {% else %}
    {% set title = page.title ~ " - " ~ config.title %}
    {% set description = page.description | default(value=config.description) %}
    {% if page.updated %}
      {% set updated = page.updated | date(format=config.extra.date_format) %}
    {% endif %}
    {% if page.content %}
      {% set content = page.content %}
    {% endif %}
  {% endif %}
{% endblock head %}

{% block content %}

<section class="page-content">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ section.title | default(value=page.title) }}</h1>
  {% if updated %}
    <span class="page-updated">
    {% if lang == "no" %}
      Sist oppdatert: <time datetime="{{ page.updated }}">{{ updated }}</time>
    {% elif lang == "en" %}
      Updated: <time datetime="{{ page.updated }}">{{ updated }}</time>
    {% endif %}
    </span>
  {% endif %}
  {% if page.translations %}
    {% for translation in page.translations %}
      {% if translation.lang == "no" and not lang == "no" %}
        <a href="{{ translation.permalink }}">
          🇳🇴
        </a>
      {% elif lang == "no" and translation.lang == "en" %}
        <a href="{{ translation.permalink }}">
          🇺🇸
        </a>
      {% endif %}
      {% if page.extra.subnav %}
        <nav class="page__subnav" aria-label="Sub navigation">
          <ul>
            {% for item in page.extra.subnav %}
              <li>
                <a href="{{ get_url(path=item.path) }}">{{ item.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if page.extra.toc_enable %}
    {% set toc_level = page.extra.toc_level | default(value=1) %}
    {{ macros::toc(toc=page.toc, level=toc_level) }}
  {% endif %}
  {{ content | safe }}
  {% if page %}
    {{ macros::backlinks(page=page, title="page") }}
  {% else %}
    {{ macros::backlinks(page=section, title="page") }}
  {% endif %}
</section>

{% endblock content %}
