{% extends "base/base.html" %}

{% block head %}
  {% set title = page.title ~ " - " ~ config.title %}
  {% set description = page.description | default(value=config.description) %}
{% endblock head %}

{% block content %}
<article
  class="photo h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      <a href="{{ page.permalink }}">
        {{ page.title | safe }}
      </a>
    </h1>
    <span class="post-meta">
      {%- if config.extra.author -%}
      <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name"
          >{{ config.extra.author }}</span
        ></span
      >
      {%- endif -%}
      <time
        class="dt-published"
        datetime="{{ page.date }}"
        itemprop="datePublished"
      >
        {{ page.date | date(format=config.extra.date_format) }}
      </time>
      {% if page.updated %}
        <time
          class="dt-updated"
          datetime="{{ page.updated }}"
          itemprop="dateUpdated"
        >
          (Updated {{ page.updated | date(format=config.extra.date_format__updated) }})
        </time>
      {% endif %}
      {% if page.taxonomies.tags %}
        <ul class="tags">
          {% set tags = page.taxonomies.tags | sort %}
          {% for tag in tags %}
            <li class="tags__tag">
              <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag|lower }}</a>
            </li>
        {% endfor %}
        </ul>
      {% endif %}
    </span>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ page.content | safe }}
  </div>

  {% set earlier = page.earlier %}
  {% set later = page.later %}
  <nav class="pagination post">
      {% if later %}
          <a class="newer" href="{{ later.permalink }}">
            <span class="pagination__label">
              ‹ Newer post
            </span>
            <span class="pagination__title">
              {{ later.title }}
            </span>
          </a>
      {% endif %}
      {% if earlier %}
          <a class="older" href="{{ earlier.permalink }}">
            <span class="pagination__label">
              Older post ›
            </span>
            <span class="pagination__title">
              {{ earlier.title }}
            </span>
          </a>
      {% endif %}
  </nav>

  <a class="u-url" href="{{ page.permalink | safe }}" hidden></a>
</article>

{% endblock content %}

