{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% set title = page.title ~ " - " ~ config.title %}
  {% set description = page.description | default(value=config.description) %}
{% endblock head %}

{% block content %}
<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <div class="post-header">
    <div class="header__wrapper">
      {{ macros::breadcrumbs() }}
      <h1 class="post-title p-name" itemprop="name headline">
        {{ page.title | safe }}
      </h1>
      <div class="header__metadata">
        <span>
          {{ trans(key="published", lang=lang) }}
          <time
            class="dt-published"
            datetime="{{ page.date }}"
            itemprop="datePublished"
          >
            {{ page.date | date(format=config.extra.date_format_long) }}
          </time>
        </span>
        &mdash;
        <span>
           {{ page.reading_time }} minute read
        </span>
        {% if page.updated %}
          &mdash;
          <span>
            {{ trans(key="updated", lang=lang) | lower }}
              <time
                class="dt-updated"
                datetime="{{ page.updated }}"
                itemprop="dateUpdated"
              >
                {{ page.updated | date(format=config.extra.date_format_long) }}
              </time>
          </span>
        {% endif %}
      </div>
    </div>
    <span class="post-meta">
      {%- if config.extra.author -%}
      <span class="hidden author" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">
          <img class="u-photo hidden" src="{{ get_url(path=config.extra.author_img) }}" alt="Photo of Tim Hårek Andreassen">
          {{ config.extra.author }}
        </span>
      </span
      >
      {%- endif -%}
    </span>
  </div>
  {% if page.taxonomies.tags and "Review" in page.taxonomies.tags %}
    {% set currentTimestamp = now() | date(format="%s") | int %}
    {% set publishTimestamp = page.date | date(format="%s") | int %}
    {% set oneYearSec = 31536000 %}
    {% if (currentTimestamp - publishTimestamp) > oneYearSec %}
      <aside class="notice note">
        <p>
          This review is older than one year, my views and opionons may have changed.
        </p>
      </aside>
    {% endif %}
  {% endif %}

  <div class="post-content e-content" itemprop="articleBody">
    {{ page.content | safe }}
  </div>

  <div class="post__footer">
    <div class="footer__metadata">
      {% if page.taxonomies.tags %}
        <div>
          {{ load_data(path="static/img/icons/tag.svg") | safe }} {{ trans(key="tagged_with", lang=lang) }} {% for tag in page.taxonomies.tags | sort %}<a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag|lower }}</a> {% endfor %}
        </div>
      {% endif %}
      <div>
        {{ load_data(path="static/img/icons/document.svg") | safe }} {{ page.word_count | num_format }} {{ trans(key="words", lang=lang) | lower }}
      </div>
    </div>
    <a class="btn" href="mailto:{{ config.extra.email }}?subject=RE: {{ page.title }}">
      {{ load_data(path="static/img/icons/email.svg") | safe }} {{ trans(key="reply_via_email", lang=lang) }}
    </a>
  </div>

  {{ macros::backlinks(page=page, title="post") }}

  <a class="u-url" href="{{ page.permalink | safe }}" hidden></a>
</article>

{% endblock content %}
