{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<section class="page">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ page.title }}</h1>
  {% if page.content %}
    {{ page.content | safe }}
  {% endif %}

  {% set section = get_section(path="blog/_index.md") %}

  {% set pages = section.pages | sort(attribute="date") %}
  {% set total_pages_length = pages | length %}

  {% set first_post = pages | first %}
  {% set last_post = pages | last %}

  {% set pages_by_longest = pages | sort(attribute="word_count") | reverse %}

  {% set_global total_word_count = 0 %}
  {% set word_count_array = pages | map(attribute="word_count") %}

  {% for count in word_count_array %}
    {% set_global total_word_count = total_word_count + count %}
  {% endfor %}

  {% set average_word_count = total_word_count / total_pages_length | round %}

  <table class="stats">
    <tr>
      <th scope="row">Total words written</th>
      <td>{{ total_word_count | num_format }}</td>
    </tr>
    <tr>
      <th scope="row">Total posts published</th>
      <td>{{ total_pages_length | num_format }}</td>
    </tr>
    <tr>
      <th scope="row">Average word per post</th>
      <td>{{ average_word_count | int | num_format }}</td>
    </tr>
    <tr>
      <th scope="row">First post</th>
      <td>
        <a href="{{ first_post.permalink }}">
          {{ first_post.title }}
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">Longest post</th>
      <td>
        <a href="{{ pages_by_longest[0].permalink }}">
          {{ pages_by_longest[0].title }}
        </a> with {{ pages_by_longest[0].word_count | num_format }} words
      </td>
    </tr>
  </table>

  <h2>Posts/words per year</h2>
  <table class="stats">
    <thead>
      <tr>
        <th>Year</th>
        <th>No. of posts</th>
        <th>Words</th>
        <th>Avg. words</th>
      </tr>
    </thead>
    <tbody>
    {% for year, page in pages | group_by(attribute="year") %}
      {% set year = year | int %}
      {% set year_posts = pages | filter(attribute="year", value=year) %}
      {% set year_posts_length = year_posts | length %}

      {% set_global word_count_by_year = 0 %}
      {% set word_count_by_year_array = year_posts | map(attribute="word_count") %}
      {% for count in word_count_by_year_array %}
        {% set_global word_count_by_year = word_count_by_year + count %}
      {% endfor %}
      {% set average_word_count = word_count_by_year / year_posts_length | round %}

        <tr>
          <th scope="row">{{ year }}</th>
          <td>{{ year_posts|length }}</td>
          <td>{{ word_count_by_year | num_format }}</td>
          <td>~{{ average_word_count | int | num_format }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Top tags</h2>
  <a href="/tags">View all ➞</a>
  {% set tags = get_taxonomy(kind="tags") %}
  <ol class="tags-cloud">
    {% for tag in tags.items | sort(attribute="pages") | reverse | slice(end=10) %}
      {% set tagCount = tag.pages | length %}
      <li>
        <a href="{{ tag.permalink }}" class="tag__name">
          {{ tag.name }}
        </a>
        <span class="tag__count">
          {{ tagCount }} posts
        </span>
      </li>
    {% endfor %}
  </ol>

</section>

{% endblock content %}

