{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% if page %}
    {% set title = page.title ~ " - " ~ config.title %}
    {% set description = page.description | default(value=config.description) %}
    {% if page.content %}
      {% set content = page.content %}
    {% endif %}
  {% endif %}
{% endblock head %}

{% block content %}

{% set files = page.extra.json_files %}
{% set_global array = [] %}

{% for file in files %}
  {% set data = load_data(path=file) %}
  {% set_global array = array | concat(with=data) %}
{% endfor %}

{% set_global array = array | sort(attribute="date.0.string") | reverse %}

<section class="page-content page-timeline">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ page.title }}</h1>
  {% if content %}
    <p>
      {{ content | safe }}
    </p>
  {% endif %}

  {{ macros::timeline(array=array, attribute_year="date.0.year", attribute_date="date.0.string") }}
</section>

{% endblock content %}

