{% extends "layouts/page_wrapper.html" %}
{% import "macros.html" as macros %}

{% block page_class %}page-log{% endblock page_class %}
{% block page_content %}

{% set files = page.extra.json_files %}

  {% if content %}
    {{ content | safe }}
  {% endif %}

  {% for file in files %}
    {% set array = load_data(path=file) %}
    {% for year, entries in array | reverse | group_by(attribute="date.0.year") %}
      <div class="log__year">
        <div class="log__year__header">
          <h2>{{ year }}</h2>
          <span>({{ entries | length }} entr{{ entries | length | pluralize(singular="y", plural="ies") }})</span>
        </div>
        <div class="entries">
          {% for entry in entries %}
            <div class="entry travel">
              <div aria-label="Entry title">
                {% if entry.details.location.cities|length == 1 %}
                  {{ entry.title }}
                {% else %}
                  {{ entry.title }} in {{ entry.details.location.country.name }}
                {% endif %}
              </div>
              <div aria-label="Entry location">
                {% set loc = entry.details.location %}
                <span title="{{ loc.country.name }}">{{ loc.country.emoji }}</span>
                {{ loc.cities|join(sep=", ") }}
              </div>
              {% set date = entry.date %}
              <div aria-label="Entry from-to date">
                <time datetime="{{ date[0].string }}">{{ date[0].string | date(format="%b. %e") }}</time>
                {% if date[0].string != date[1].string %}
                  -
                  <time datetime="{{ date[1].string }}">{{ date[1].string | date(format="%b. %e") }}</time>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="count">
      Total count: {{ array | length }}
    </div>
  {% endfor %}

{% endblock page_content %}

