{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% if section %}
    {% set title = section.title ~ " - " ~ config.title %}
    {% set description = section.description | default(value=config.description) %}
    {% if section.updated %}
      {% set updated = section.updated | date(format=config.extra.date_format) %}
    {% endif %}
    {% if section.content %}
      {% set content = section.content %}
    {% endif %}
  {% endif %}
{% endblock head %}

{% block content %}

{% set files = section.extra.json_files %}

<section class="page-content page-log">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ section.title | default(value=page.title) }}</h1>
  {% if content %}
    {{ content | safe }}
  {% endif %}
  {% for file in files %}
    {% set array = load_data(path=file) %}
    {% for year, entries in array | reverse | group_by(attribute="date.0.year") %}
      <div class="log__year">
        <div class="log__year__header">
          <h2>{{ year }}</h2>
          <span>({{ entries | length }} entr{{ entries | length | pluralize(singular="y", plural="ies") }})</span>
        </div>
        <div class="entries">
          {% for entry in entries %}
            <div class="entry travel">
              <div aria-label="Entry title">
                {% if entry.details.location.cities|length == 1 %}
                  {{ entry.title }}
                {% else %}
                  {{ entry.title }} in {{ entry.details.location.country.name }}
                {% endif %}
              </div>
              <div aria-label="Entry location">
                {% set loc = entry.details.location %}
                <span title="{{ loc.country.name }}">{{ loc.country.emoji }}</span>
                {{ loc.cities|join(sep=", ") }}
              </div>
              {% set date = entry.date %}
              <div aria-label="Entry from-to date">
                <time datetime="{{ date[0].string }}">{{ date[0].string | date(format="%b. %e") }}</time>
                -
                <time datetime="{{ date[1].string }}">{{ date[1].string | date(format="%b. %e") }}</time>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  <div class="count">
    Total count: {{ array | length }}
  </div>
  {% endfor %}
</section>

{% endblock content %}

