{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% if section %}
    {% set title = section.title ~ " - " ~ config.title %}
    {% set description = section.description | default(value=config.description) %}
    {% if section.updated %}
      {% set updated = section.updated | date(format=config.extra.date_format) %}
    {% endif %}
    {% if section.content %}
      {% set content = section.content %}
    {% endif %}
  {% endif %}
{% endblock head %}

{% block content %}

{% set files = section.extra.json_files %}

<section class="page-content page-log">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ section.title | default(value=page.title) }}</h1>
  {% if content %}
    {{ content | safe }}
  {% endif %}
  {% for file in files %}
    {% set array = load_data(path=file) %}
    {% if array[0].type %}
      <h2>{{ array[0].type }}</h2>
    {% endif %}
    {% for year, entries in array | reverse | group_by(attribute="date.from.year") %}
      <div class="log__year">
        <div class="log__year__header">
          <h2>{{ year }}</h2>
          <p>Count: {{ entries | length }}</p>
        </div>
        <div class="entries">
          {% for entry in entries %}
            <div class="entry">
              <div aria-label="Entry title">
                {% if entry.location.cities|length == 1 %}
                  {{ entry.title }}
                {% else %}
                  {{ entry.title }} in {{ entry.location.country }}
                {% endif %}
              </div>
              <div aria-label="Entry location">
                {% if entry.location.cities|length == 1 %}
                  {{ entry.location.cities[0] }}, {{ entry.location.country }}
                {% else %}
                  {{ entry.location.cities|join(sep=", ") }}
                {% endif %}
              </div>
              {% set date = entry.date %}
              <time datetime="{{ date.from.string }}" aria-label="Entry from date">{{ date.from.string }}</time>
              <time datetime="{{ date.to.string }}" aria-label="Entry to date">{{ date.to.string }}</time>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  <div class="count">
    Total count: {{ array | length }}
  </div>
  {% endfor %}
</section>

{% endblock content %}

