{% extends "layouts/page_wrapper.html" %}
{% import "macros.html" as macros %}

{% block page_updated %}
  {% set work_data = load_data(path="static/api/cv.json") %}
  {% set work_data = work_data.projects | sort(attribute="endDate") | reverse %}
  <div class="page-updated">
    {% set updated = work_data[0].endDate %}
    {{ trans(key="updated", lang=lang) }} <time datetime="{{ updated }}">{{ updated | date(format=config.extra.date_format_long) }}</time>
  </div>
{% endblock page_updated %}

{% block page_content %}
  {% set work_data = load_data(path="static/api/cv.json") %}
  {% set work_data = work_data.projects | sort(attribute="endDate") | reverse %}

  {{ content | safe }}

  {% set_global all_tags = [] %}
  {% for work in work_data %}
    {% if work.keywords %}
      {% set_global all_tags = all_tags | concat(with=work.keywords) %}
    {% endif %}
  {% endfor %}
  {% set all_tags_unique = all_tags | unique %}

  <div class="filter">
    <label for="filter">Filter keywords
      <select name="filter" id="filter" onchange="update('.projects__item')">
          <option value="all">{{ trans(key="show_all", lang=lang) }}</option>
          {% for tag in all_tags_unique | sort %}
            {% set_global tag_count = 0 %}
            {% for item in work_data %}
              {% if tag in item.keywords %}
                {% set_global tag_count = tag_count + 1 %}
              {% endif %}
            {% endfor %}
            <option value="{{ tag | slugify }}">{{ tag }} ({{ tag_count }})</option>
          {% endfor %}
      </select>
    </label>
  </div>

  <ul class="projects">
    {% for work in work_data %}
      <li class="projects__item">
        {{ macros::project_item(project=work) }}
      </li>
    {% endfor %}
  </ul>
{% endblock page_content %}

{% block page_script %}
  <script src="{{ get_url(path="js/filter.js") }}" defer></script>
{% endblock page_script %}
