{% extends "base/base.html" %}

{% block head %}
  {% set title = section.title ~ " - " ~ config.title %}
  {% set description = section.description | default(value=config.description) %}
  {% if section.updated %}
    {% set updated = section.updated | date(format=config.extra.date_format) %}
  {% endif %}
  {% if section.content %}
    {% set content = section.content %}
  {% endif %}
{% endblock head %}

{% block content %}


{% set work_data = load_data(path="static/api/work.json") %}

<section class="page-content">
  <h1 class="page-title">{{ section.title | default(value=page.title) }}</h1>
  {% if work_data.updated %}
    <span class="page-updated">
      Last updated <time datetime="{{ work_data.updated }}">{{ work_data.updated }}</time>
    </span>
  {% endif %}
  {{ content | safe }}

  {% set_global all_tags = [] %}
  {% for work in work_data.list %}
    {% if work.extra.tags %}
      {% set_global all_tags = all_tags | concat(with=work.extra.tags) %}
    {% endif %}
  {% endfor %}
  {% set all_tags_unique = all_tags | unique %}

  <div class="work-filter">
    <label for="filter">Filter tags
      <select name="filter" id="filter" onchange="updateWorkGrid()">
          <option value="all">Show all</option>
          {% for tag in all_tags_unique | sort %}
            {% set_global tag_count = 0 %}
            {% for item in work_data.list %}
              {% if tag in item.extra.tags %}
                {% set_global tag_count = tag_count + 1 %}
              {% endif %}
            {% endfor %}
            <option value="{{ tag | slugify }}">{{ tag }} ({{ tag_count }})</option>
          {% endfor %}
      </select>
    </label>
  </div>

  <div class="work">
    {% for work in work_data.list | sort(attribute="extra.date") | reverse %}
      <div class="work__item"
        {% if work.color %}
          style="
          --header-bg: {{ work.color.bg }};
          --header-text: {{ work.color.text }};"
        {% endif %}>
        <div class="work__item__header">
          <h2>
            {% if work.client %}
              {{ work.client }}
            {% else %}
              {{ work.title }}
            {% endif %}
          </h2>
        </div>
        <div class="work__item__body">
          {% if work.client %}
            <h3>{{ work.title }}</h3>
          {% endif %}
          <p>
            {{ work.description }}
          </p>
          {% if work.extra.tags %}
            <ul class="work__item__body__tags">
              {% for tag in work.extra.tags | sort %}
                <li data-tag="{{ tag | slugify }}">{{ tag | lower }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <ul class="work__item__body__urls">
            {% if work.sources and work.sources|length == 1 %}
              <li>
                <a href="{{ work.sources[0] }}" target="_blank">Source</a>
              </li>
            {% endif %}
            {% if work.url %}
              <li>
                <a href="{{ work.url }}" target="_blank">Link</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script src="/js/work_filter.js" defer></script>

{% endblock content %}
