{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% set title = section.title ~ " - " ~ config.title %}
  {% set description = section.description | default(value=config.description) %}
  {% if section.content %}
    {% set content = section.content %}
  {% endif %}
{% endblock head %}

{% block content %}

{% set work_data = load_data(path="static/api/work.json") %}
{% set work_data = work_data.list | sort(attribute="endDate") | reverse %}

<section class="page-content">
  {{ macros::breadcrumbs() }}
  <h1 class="page-title">{{ section.title | default(value=page.title) }}</h1>
  <span class="page-updated">
    {% set updated = work_data[0].endDate %}
    {{ trans(key="updated", lang=lang) }}: <time datetime="{{ updated }}">{{ updated }}</time>
  </span>
  {{ content | safe }}

  {% set_global all_tags = [] %}
  {% for work in work_data %}
    {% if work.keywords %}
      {% set_global all_tags = all_tags | concat(with=work.keywords) %}
    {% endif %}
  {% endfor %}
  {% set all_tags_unique = all_tags | unique %}

  <div class="work-filter">
    <label for="filter">Filter keywords
      <select name="filter" id="filter" onchange="updateWorkGrid()">
          <option value="all">{{ trans(key="show_all", lang=lang) }}</option>
          {% for tag in all_tags_unique | sort %}
            {% set_global tag_count = 0 %}
            {% for item in work_data %}
              {% if tag in item.keywords %}
                {% set_global tag_count = tag_count + 1 %}
              {% endif %}
            {% endfor %}
            <option value="{{ tag | slugify }}">{{ tag }} ({{ tag_count }})</option>
          {% endfor %}
      </select>
    </label>
  </div>

  <div class="work">
    {% for work in work_data %}
      <div class="work__item"
        {% if work.color %}
          style="
          --header-bg: {{ work.color.bg }};
          --header-text: {{ work.color.text }};"
        {% endif %}>
        <div class="work__item__header">
          <h2>
            {% if work.client %}
              {{ work.client }}
            {% else %}
              {{ work.name }}
            {% endif %}
          </h2>
        </div>
        <div class="work__item__body">
          {% if work.client %}
            <h3>{{ work.name }}</h3>
          {% endif %}
          <p>
            {{ work.description }}
          </p>
          {% if work.keywords %}
            <ul class="work__item__body__tags">
              {% for keyword in work.keywords | sort %}
                <li data-tag="{{ keyword | slugify }}">{{ keyword | lower }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          <ul class="work__item__body__urls">
            {% if work.sources and work.sources|length == 1 %}
              <li>
                <a href="{{ work.sources[0] }}" target="_blank">{{ trans(key="source", lang=lang) }}</a>
              </li>
            {% endif %}
            {% if work.url %}
              <li>
                <a href="{{ work.url }}" target="_blank">{{ trans(key="link", lang=lang) }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<script src="/js/work_filter.js" defer></script>

{% endblock content %}
