footer {
	margin-top: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;

	@media screen and (max-width: $breakpoint-xtra-small) {
		flex-direction: column;

		.social {
			margin-top: 15px;
		}
	}

	.footer--link {
		&:not(:last-of-type) {
			margin-right: 10px;
		}
        border-bottom: 0;
	}

    .copyright {
        display: flex;
        align-items: center;
    }

	.social {
		display: flex;
		align-items: center;
		justify-content: space-between;

		* {
			align-self: center;
			display: block;
			&:not(:last-of-type) {
				margin-right: 10px;
			}
		}
	}
}
