header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;

    @media screen and (max-width: $breakpoint-small) {
        margin-bottom: 25px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        svg {
            width: 75px;

            #head {
                fill: $color-blue-light;
            }

            #head-outline, #eyes {
                fill: black;
            }

            #mouth {
                stroke: black;
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 0 5px var(--color-primary);
        }
    }

    nav {
        font-size: 1.25rem;

        .nav--list {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .nav--item {
            display: inline;

            &:not(:last-of-type) {
                margin-right: 15px;
            }
        }
        a {
            padding: 10px;
            border-radius: 5px;
            border-bottom: 0 !important;

            &:hover,
            &:focus {
                opacity: 1 !important;
                outline: none;
                background: var(--color-nav-accent);
                transition: all 350ms;
            }

            &:active {
                outline: none;
            }

            &.page-link.current {
                background: var(--color-nav-accent);
            }
        }
    }
}
