{% macro section(title, array, ignore) %}
<section class="experiences">
  <h2 class="experiences__title">{{ title }}</h2>

  {% if ignore %}
    {% set array = array | filter(attribute="relevant", value=true) %}
  {% endif %}

  {% for experience in array %}
  <article class="experience">
    <header class="experience__header">
      <img
        class="experience__logo"
        src="{{ get_url(path=experience.glyph) | safe }}"
        alt="{{ experience.name }} logo"
      />
      <h3 class="experience__name">{{ experience.name }}</h3>
    </header>
    {% set roles = experience.role %}
    {% for role in roles | sort(attribute="start") | reverse %}
    <div class="experience__role">
      <h4 class="role__name">
        {{ role.name }} - {{ role.start | date(format="%b %Y") }} - {% if
        role.end %}{{ role.end | date(format="%b %Y") }}{% else %}present{%
        endif %}
      </h4>
      {% if role.desc %}
        {% if role.desc | length > 1 %}
        <ul class="role__list">
          {% for desc in role.desc %}
          <li class="role__list-item">{{ desc }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="role__description">{{ role.desc | first }}</p>
        {% endif %}
      {% endif %}
    </div>
    {% endfor %}
  </article>
  {% endfor %}
</section>
{% endmacro section %} 
{% macro skill(title, array) %}
<section class="skill__category">
  <h3 class="skill__category-name">{{ title }}</h3>
  <span class="skill__list">{{ array | join(sep=", ") }}</span>
</section>
{% endmacro skill %}
