<footer class="footer">
    <div class="footer__container">
        {% assign pages = site.pages | where: "menu", "footer" %} {% for this_page in pages %}
        <a class="footer__link" href="{{ this_page.url | relative_url }}">{{ this_page.title | escape }}</a>
        {% endfor %}

        <a class="footer__link" href="https://photos.timharek.no">Photos</a>
    </div>

    <div class="footer__container">
        <a class="footer__link" href="{{ site.url }}/feed.xml">RSS</a>
    </div>
</footer>
