<footer>
    <div class="copyright">
        {% assign pages = site.pages | where: "menu", "footer" %} {% for this_page in pages %}
        <a class="footer-link" href="{{ this_page.url | relative_url }}">{{ this_page.title | escape }}</a>
        {% endfor %}

        <a class="footer-link" href="https://photos.timharek.no">Photos</a>
    </div>

    <div class="social">
        <a href="{{ site.url }}/feed.xml">RSS</a>
        <a href="https://github.com/{{ site.github_username}}" aria-label="GitHub profile">GitHub</a>
        <a href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_username }}" aria-label="Mastodon profile">Mastodon</a>
    </div>
</footer>
