<header role="banner">
    <a class="logo" rel="me" href="/" aria-label="Home">
        {% include components/logo.svg %}
    </a>

    <nav role="navigation">
        <ul class="nav--list">
            {% assign pages = site.pages | where: "menu", "main" %}
            {% for this_page in pages %}
                <li class="nav--item">
                    
                    <a 
                    {% if page.url == this_page.url %}
                        class="page-link current"
                    {% else %}
                        class="page-link"
                    {% endif %}
                    href="{{ this_page.url | relative_url }}">{{ this_page.title | escape }}</a>

                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
