footer.footer {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: $spacing;
  font-size: 16px;

  @media screen and (max-width: $breakpoint-xtra-small) {
    flex-direction: column;

    .footer__container:not(:first-of-type) {
      margin-top: 15px;
    }
  }

  .footer__link {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
    border-bottom: 0;

    &--current {
      border-bottom: 1px solid var(--color-primary);
    }
  }

  .footer__container {
    display: flex;
    align-items: center;
  }
}
