{{ define "main" }}
  {{ with .Site.Data.cv }}
    <div class="px-4 mx-auto max-w-screen-md">
      <div class="space-y-4 mb-4">
        {{ partial "page-header.html" . }}
        {{ with .updatedAt }}
          {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := . | time.Format ":date_long" }}
          {{ $ctx := dict "date" $dateMachine "dateHuman" $dateHuman "text" "Last updated"}}
          {{ partial "date.html" $ctx . }}
        {{ end }}
      </div>
      <div class="space-y-4 max-w-prose">
        <section class="space-y-4">
          <h2 class="text-3xl font-semibold">TL;DR</h2>
          <p>
            {{ .basics.summary }}
          </p>
        </section>
        <section class="space-y-4">
          <h2 class="text-3xl font-semibold">Work</h2>
          <ul class="space-y-6">
            {{ range .work }}
              <li>
                {{ partial "inline/work.html" . }}
              </li>
            {{ end }}
          </ul>
        </section>
        <section class="space-y-4">
          <h2 class="text-3xl font-semibold">Voluntary</h2>
          <ul class="space-y-6">
            {{ range .volunteer }}
              <li>
                {{ partial "inline/work.html" . }}
              </li>
            {{ end }}
          </ul>
        </section>
        <section class="space-y-4">
          <h2 class="text-3xl font-semibold">Education</h2>
          <ul class="space-y-6">
            {{ range .education }}
              <li>
                {{ partial "inline/edu.html" . }}
              </li>
            {{ end }}
          </ul>
        </section>
        <section class="space-y-4">
          <h2 class="text-3xl font-semibold">Skills</h2>
          <ul class="space-y-6">
            {{ range .skills }}
              <li>
                {{ partial "inline/skill.html" . }}
              </li>
            {{ end }}
          </ul>
        </section>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "partials/inline/work.html" }}
  <div class="space-y-2">
    <header class="flex flex-wrap gap-4 items-center justify-between">
      <div class="flex flex-wrap gap-4 items-center">
        <h3 class="text-xl font-semibold">{{ .position }}</h3>
        {{ if .url }}
          <a href="{{ .url }}" class="normal">{{ .name }}</a>
        {{ else }}
          {{ .name }}
        {{ end }}
      </div>
      {{ partial "inline/dates.html" . }}
    </header>
    {{ partial "inline/keywords.html" .highlights }}
  </div>
{{ end }}

{{ define "partials/inline/edu.html" }}
  <div class="space-y-2">
    <header class="flex flex-wrap gap-4 items-center justify-between">
      <div class="flex flex-wrap gap-4 items-center">
        <h3 class="text-xl font-semibold">{{ .studyType }} in {{ .area }}</h3>
        <a href={{ .url }} class="normal">{{ .institituon}} </a>
      </div>
      <div class="text-gray-400">
        {{ partial "inline/dates.html" . }}
      </div>
    </header>
    <p>{{ .summary }}</p>
  </div>
{{ end }}

{{ define "partials/inline/dates.html" }}
  <div class="text-gray-400 flex gap-2">
    {{ $dateMachine := .startDate | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .startDate | time.Format "Jan 2006" }}
    {{ $ctx := dict "date" $dateMachine "dateHuman" $dateHuman "text" ""}}
    {{ partial "date.html" $ctx . }}
    -
    {{ if .endDate }}
      {{ $dateMachine := .endDate | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .endDate | time.Format "Jan 2006" }}
      {{ $ctx := dict "date" $dateMachine "dateHuman" $dateHuman "text" ""}}
      {{ partial "date.html" $ctx . }}
    {{ else }}
      present
    {{ end }}
  </div>
{{ end }}

{{ define "partials/inline/skill.html" }}
  <div class="md:flex justify-between gap-4">
    <h4 class="md:w-1/2 text-lg font-semibold">{{ .name }}</h4>
    <p class="md:w-1/2">
      {{ delimit (sort .keywords) ", " " and "}}
    </p>
  </div>
{{ end }}

{{ define "partials/inline/keywords.html" }}
  {{ if ge (len .) 1}}
    <ul class="list-disc pl-4 space-y-2">
      {{ range . }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  {{ else }}
  <p>{{ . }}</p>
  {{ end }}
{{ end }}
