<div class="experiences">
    <h2 class="experiences__title">{{ include.title }}</h2>

    {% if include.reversed == 'false' %}
        {% assign experiences = include.array | sort: 'start' %}
    {% else %}
        {% assign experiences = include.array | sort: 'start' | reverse %}
    {% endif %}
    {% for experience in experiences %}
    <article class="experience">
        <header class="experience__header">
            <img class="experience__logo"src="{{ experience.glyph }}" alt="{{ experience.name }} logo" />
            <h3 class="experience__name">{{ experience.name }}</h3>
        </header>
        {% assign roles = experience.role | sort: "start" | reverse %} {% for role in roles %}
        <div class="experience__role">
            <h4 class="role__name">{{ role.name }} - {{ role.start | date: "%b %Y" }} - {{ role.end | date: "%b %Y"| default: 'present'}}</h4>
            {% if role.desc.size > 1 %}
            <ul class="role__list">
                {% for desc in role.desc %}
                <li class="role__list-item">{{ desc }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="role__description">{{ role.desc }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </article>
    {% endfor %}
</div>
