<div class="experiences">
    <h2>{{ include.title }}</h2>

    {% if include.reversed == 'false' %}
        {% assign experiences = include.array | sort: 'start' %}
    {% else %}
        {% assign experiences = include.array | sort: 'start' | reverse %}
    {% endif %}
    {% for experience in experiences %}
    <div class="experience">
        <div class="header">
            <img src="{{ experience.glyph }}" alt="{{ experience.name }} logo" />
            <h3>{{ experience.name }}</h3>
        </div>
        {% assign roles = experience.role | sort: "start" | reverse %} {% for role in roles %}
        <div class="role">
            <h4>{{ role.name }} - {{ role.start | date: "%b %Y" }} - {{ role.end | date: "%b %Y"| default: 'present'}}</h4>
            {% if role.desc.size > 1 %}
            <ul>
                {% for desc in role.desc %}
                <li>{{ desc }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>{{ role.desc }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
