---
---

@import url("font/inter/inter.css");
html {
	font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

$primary-color: #0096f5;
$primary-dark-color: #212121;
$secondary-dark-color: #555;
$primary-light-color: #eee;
$secondary-light-color: #c7c7c7;

$breakkpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-medium: 768px;
$breakpoint-medium2: 600px;
$breakpoint-small: 520px;
$breakpoint-xtra-small: 375px;

html,
body {
	background: $primary-light-color;
	color: $primary-dark-color;
	margin: 0;
	padding: 0;

	@media (prefers-color-scheme: dark) {
		background-color: $primary-dark-color;
		color: $primary-light-color;

		p {
			color: $secondary-light-color;
		}
	}
}

.wrapper {
	margin: 0 auto;
	margin-top: 100px;
	max-width: 760px;
	height: 100vh - margin-top;
	animation: fadein 2s;

	@keyframes fadein {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.container {
		width: 100%;

		header {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 15px;
			margin-bottom: 50px;

			object {
				width: 75px;
			}

			nav {
				font-size: 26px;
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						display: inline;

						&:not(:last-of-type) {
							margin-right: 15px;
						}
					}
				}
			}
		}

		.content {
			.intro {
				margin-bottom: 50px;
			}

			.projects {
				display: flex;
				flex-direction: column;

				.project {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 25px;

					border: 1px solid $secondary-dark-color;
					padding: 15px;
					border-radius: 10px;

					.logo img {
						width: 50px;
					}

					.desc {
						h1 {
							font-size: 2rem;
							margin-bottom: 5px;
						}
						p {
							margin: 5px;
						}
					}

					&:not(:last-of-type) {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}

a {
	color: $primary-color;
	text-decoration: none;
	font-weight: 700;
	opacity: 1;

	&:hover {
		opacity: 0.5;
	}

	&:active {
		opacity: 0.75;
	}
}

h1 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 3rem;
}

p {
	font-size: 1.25rem;
	font-weight: normal;
}

::selection {
	background: $primary-color;
	color: $primary-light-color;
}
