.projects {
	display: flex;
	flex-direction: column;

	.project {
		width: calc(100% - 30px);
		display: flex;
		align-items: center;
		border: 1px solid $secondary-dark-color;
		padding: 15px;
		border-radius: 10px;

		transition: 150ms;

		.logo {
			margin-right: 25px;

			img {
				width: 50px;

				@media screen and (max-width: $breakpoint-medium2) {
					width: 35px;
				}
			}
		}

		.desc {
			h1 {
				font-size: 1.5rem;
				margin-bottom: 5px;
			}

			p {
				margin: 5px 0;
			}

			a {
				&:not(:last-of-type) {
					margin-right: 15px;
				}

				/* @media screen and (max-width: $breakpoint-medium2) {
					display: block;
					margin-right: 0;

					&:not(:last-of-type) {
						margin-bottom: 1.5em;
					}
				} */
			}
		}

		&:not(:last-of-type) {
			margin-bottom: 30px;
		}
	}
}

article.project {
	.meta {
		display: block;
		font-size: 1.25rem;
		color: $secondary-dark-color;

		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}

	img {
		max-width: 100%;
	}
}
