.resume {
    font-size: 1rem;

    h2 {
        margin: 10px 0;
    }

    .secret {
        display: none;
    }

    .tldr {
        margin-bottom: 1.25em;
        hyphens: auto;

        p {
            margin-bottom: 0;
        }
    }
    .experiences {
        .experience {
            page-break-inside: avoid;
            margin-bottom: 1.25em;

            .header {
                display: flex;
                align-items: center;
                page-break-after: avoid;

                h3 {
                    font-size: 1.35rem;
                    font-weight: 500;
                    margin: 0;
                }

                img {
                    width: 50px;
                    margin-right: 1em;
                }
            }
            .role {
                padding-left: calc(50px + 1em); // Indent, to be straight under the glyph

                h4 {
                    margin-top: 0;
                    margin-bottom: 0.5em;
                    font-size: 1.1rem;
                    font-weight: 400;
                }

                p,
                ul {
                    margin: 0.5em 0;
                    margin-bottom: 1em;
                }

                ul {
                    padding-left: 1em;
                }
            }
        }
    }
    .skills {
        .category {
            display: flex;
            align-content: center;
            align-items: center;

            @media screen and (max-width: $breakpoint-medium) {
                display: block;
                &:not(:last-of-type) {
                    margin-bottom: 1.5em;
                }
            }

            h3 {
                font-weight: 500;
                margin: 0;
                width: 50%;
            }
        }
    }
    .last-update {
        font-size: 0.75em;
    }
}
