{% assign project = include.project %}

<article class="project">
    <div class="project__header">
        <img class="project__logo" src="{{ project.svg | default: "/assets/img/error.svg" }}" alt="{{ project.name }} logo">
        <h1 class="project__name">{{ project.name }}</h1>
    </div>
    <p class="project__description">{{ project.desc }}</p>
    {% if project.link or project.sourcecode %}
        <div class="project__metadata">
            {% if project.link %}
                <a href="{{ project.link }}">{{ project.link | remove: "https://" }}</a>
            {% endif %}
            {% if project.sourcecode %}
                <a href="{{ project.sourcecode }}">Source code</a>
            {% endif %}
        </div>
    {% endif %}
</article>
