{{ if ne .Path "/" }}
 <nav class="print:hidden max-w-screen-md mx-auto px-4 mb-4" aria-label="breadcrumbs">
   <ol class="flex gap-2 flex-wrap">
    {{ range .Ancestors.Reverse }}
     <li class="after:content-['/'] after:pl-1 flex gap-1 last:after:content-['']">
      <a href="{{ .RelPermalink }}" class="normal">{{ .LinkTitle }}</a>
     </li>
    {{ end }}
    <li class="active">
     <a aria-current="page" data-current href="{{ .RelPermalink }}" class="normal">{{ .LinkTitle }}</a>
    </li>
   </ol>
 </nav>
{{ end }}
