.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    @media (max-width: $breakpoint-medium2) {
        grid-template-columns: 1fr;
    }

}

.project {
    padding: 1.5em;
    border: 2px solid var(--color-border);
    border-radius: 10px;

    &:first-child {
        grid-column: span 2;
    }

    .project__header {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 1em;
    }

    .project__logo {
        width: 2.5rem;
    }

    .project__name {
        font-size: 1.2rem;
        margin: 0;
    }

    .project__description {
        margin: .5em 0;
    }

    .project__metadata {
        display: flex;
        flex-wrap: wrap;
        gap: .5em 1em;
    }
}
