.resume {
    font-size: 1rem;

    h2 {
        margin: 10px 0;
    }

    &__secret {
        display: none;
    }

    &__tldr {
        margin-bottom: 1.25em;
        hyphens: auto;

        p {
            margin-bottom: 0;
        }
    }
}

.experience {
    page-break-inside: avoid;
    margin-bottom: 1.25em;

    &__header {
        display: flex;
        align-items: center;
        page-break-after: avoid;
    }

    &__name {
        font-size: 1.35rem;
        font-weight: 500;
        margin: 0;
    }

    &__logo {
        width: 50px;
        margin-right: 1em;
    }

    &__role {
        padding-left: calc(50px + 1em); // Indent, to be straight under the glyph
    }

    .role {
        &__name {
            margin-top: 0;
            margin-bottom: 0.5em;
            font-size: 1.1rem;
            font-weight: 400;
        }

        &__description,
        &__list {
            margin: 0.5em 0;
            margin-bottom: 1em;
        }

        &__list {
            padding-left: 1em;
        }
    }
}

.resume__skills {
    .skill__category {
        display: flex;
        align-content: center;
        align-items: center;

        @media screen and (max-width: $breakpoint-medium) {
            display: block;
            &:not(:last-of-type) {
                margin-bottom: 1.5em;
            }
        }

        .skill__category-name {
            font-weight: 500;
            margin: 0;
            width: 50%;
        }
    }
}

.resume__last-update {
    font-size: 0.75em;
}
