---
layout: default
title: Résumé
permalink: /resume
menu: main
description: Tim Hårek's résumé. Experience, education and skills.
---

{% assign resume = site.data.resume %}

<div class="resume">
    <h1>Tim Hårek Andreassen</h1>
    <div class="secret"></div>

    <div class="tldr">
        <h2>tl;dr</h2>
        <p>{{ resume.tldr }}</p>
    </div>
    <div class="experience">
        <h2>Experience</h2>
        <!-- prettier-ignore -->
        {% assign sorted_exp = resume.experience | sort: 'end' %}
        {% assign current_exp = sorted_exp | where: 'current', 'true' %}
        {% assign prev_exp = sorted_exp | where: 'current', 'false' %}
        {% for exp in current_exp %}
        <div class="work current">
            <div class="title">
                <img src="{{ exp.glyph }}" alt="" class="glyph" />
                <div class="meta">
                    <h3>{{ exp.name }}</h3>
                    <h4>{{ exp.role }}</h4>
                    <span class="duration"> — {{ exp.start | date: "%b %Y" }} - {{ exp.end | default: "current" | date: "%b %Y"}} </span>
                </div>
            </div>

            <div class="desc">
                {% if exp.desc.size > 1 %}
                <ul>
                    {% for desc in exp.desc %}
                    <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{ exp.desc }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <!-- prettier-ignore -->
        {% assign prev_exp = prev_exp | sort: 'end' | reverse %}
        {% for exp in prev_exp %}
        <div class="work previous">
            <div class="title">
                <img src="{{ exp.glyph }}" alt="" class="glyph" />
                <div class="meta">
                    <h3>{{ exp.name }}</h3>
                    <h4>{{ exp.role }}</h4>
                    <span class="duration"> — {{ exp.start | date: "%b %Y" }} - {{ exp.end | default: "current" | date: "%b %Y"}} </span>
                </div>
            </div>

            <div class="desc">
                {% if exp.desc.size > 1 %}
                <ul>
                    {% for desc in exp.desc %}
                    <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{ exp.desc }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="voluntary">
        <h2>Voluntary work</h2>
        {% assign voluntary = resume.voluntary | sort: 'start' | reverse %}
        {% for vol in voluntary %}
        <div class="work">
            <div class="title">
                <img src="{{ vol.glyph }}" alt="" class="glyph" />
                <div class="meta">
                    <h3>{{ vol.name }}</h3>
                    <h4>{{ vol.role }}</h4>
                    <span class="duration">— {{ vol.start | date: "%b %Y" }} - {{ vol.end | date: "%b %Y" | default: 'current'}}</span>
                </div>
            </div>

            <div class="desc">
                {% if vol.desc.size > 1 %}
                <ul>
                    {% for desc in vol.desc %}
                    <li>{{ desc }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>{{ vol.desc }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="education">
        <h2>Education</h2>
        {% for edu in resume.education %}
        <div class="edu">
            <div class="title">
                <img src="{{ edu.glyph }}" alt="" class="glyph" />
                <div class="meta">
                    <h3>{{ edu.name }}</h3>
                    <h4>{{ edu.degree }}</h4>
                    <span class="duration">— {{ edu.start | date: "%b %Y" }} - {{ edu.end | default: 'current'}}</span>
                </div>
            </div>

            <div class="desc">
                <p>{{ edu.desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="skills">
        <h2>Skills</h2>
        <div class="category">
            <h3>Programming languages</h3>
            {% assign programming = resume.programming %}
            <span class="subskills"> {{ programming | join: ", "}} </span>
        </div>
        <div class="category">
            <h3>Libraries and frameworks</h3>
            {% assign libraries = resume.libraries %}
            <span class="subskills"> {{ libraries | join: ", "}} </span>
        </div>
        <div class="category">
            <h3>Tools</h3>
            {% assign tools = resume.tools %}
            <span class="subskills"> {{ tools | join: ", "}} </span>
        </div>
        <div class="category">
            <h3>Platforms</h3>
            {% assign platforms = resume.platforms %}
            <span class="subskills"> {{ platforms | join: ", "}} </span>
        </div>
        <div class="category">
            <h3>Design</h3>
            {% assign design = resume.design %}
            <span class="subskills"> {{ design | join: ", "}} </span>
        </div>
    </div>
    <span class="last-update">
        Last update: {{ resume.last_update | date: "%Y-%m-%d" }}
    </span>
</div>
