{% extends "base/base.html" %}

{% block head %}
  {% set title = section.title ~ " - " ~ config.title %}
  {% set description = section.description | default(value=config.description) %}
{% endblock head %}

{% block content %}
<h1>{{ section.title }}</h1>
<ul class="blog">
  {% for post in paginator.pages %}
  <li class="blog__post">
    <div class="post__summary">
      <a
        href="{% if post.extra.link %}{{ post.extra.link }}{% else %}{{ post.permalink | trim_start_matches(pat=config.base_url) }}{% endif %}"
        >{{ post.title }}</a
      >
      <span> {{ post.description }} </span>
    </div>
    <span class="post__date">{{ post.date | date(format=config.extra.date_format) }}</span>
  </li>
  {% endfor %}
</ul>

<nav class="pagination">
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</nav>

{% endblock content %}
