{% extends "base/base.html" %}

{% block head %}
  {% set title = config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}
<section class="intro">
  {% if section.content %}
    {{ section.content | safe }}
  {% else %}
    <h1>Hi, I'm Tim Hårek 👋</h1>
    <p>{{ config.description }}</p>
  {% endif %}
</section>

{% set projects = load_data(path="content/projects/projects.json") %}
<section class="projects">
  <h2>Recent projects</h2>
  <div class="projects-wrapper">
  {% for project in projects.projects | sort(attribute="date") | reverse %}
  <article class="project">
    <div class="project__content">
      <div class="project__header">
        <img class="project__logo" src="{{ get_url(path=project.logo) |
        default(value=get_url(path="img/error.svg")) }}" alt="{{ project.name }}
        logo">
        <h3 class="project__name">{{ project.name }}</h3>
      </div>
      <p class="project__description">{{ project.description }}</p>
    </div>
    {% if project.link or project.sourcecode %}
    <div class="project__metadata">
      {% if project.link %}
      <a href="{{ project.link }}"
        >Website</a
      >
      {% endif %} {% if project.sourcecode %}
      <a href="{{ project.sourcecode }}">Source code</a>
      {% endif %}
    </div>
    {% endif %}
  </article>
  {% endfor %}
  </div>
</section>
<a class="h-card hidden" rel="me" href="https://timharek.no">
  <img class="u-photo hidden" src="{{ get_url(path="img/me.jpeg") }}" alt="Photo of Tim Hårek Andreassen">
  Tim Hårek Andreassen
  <p class="p-note">{{ config.description }}</p>
</a>

{% endblock content %}
