{% extends "base/base.html" %}
{% import "macros.html" as macros %}

{% block head %}
  {% set title = config.title %}
  {% set description = config.description %}
{% endblock head %}

{% block content %}
<section class="intro">
  {% if section.content %}
    {{ section.content | safe }}
  {% else %}
    <h1>Hi, I'm Tim Hårek 👋</h1>
    <p>{{ config.description }}</p>
  {% endif %}
</section>

<section class="repos">
  <h2>{{ trans(key="latest_posts", lang=lang) }}</h2>
  <ul class="blog">
    {% set section = get_section(path="blog/_index.md") %}
    {% set pages = section.pages | slice(end=5) %}
    {% for post in pages %}
      {{ macros::bloglisting_item(post=post) }}
    {% endfor %}
  </ul>
  <a href="/blog">{{ trans(key="view_all", lang=lang) }} ➞</a>
</section>

<a class="h-card hidden" rel="me" href="https://timharek.no">
  <img class="u-photo hidden" src="{{ get_url(path=config.extra.author_img) }}" alt="Photo of Tim Hårek Andreassen">
  Tim Hårek Andreassen
  <p class="p-note">{{ config.description }}</p>
</a>

{% endblock content %}
