{% macro bloglisting_item(post, showDescription=true) %}
  <li class="blog__post">
    <div class="post__summary">
      <a href="{{ get_url(path=post.path) }}">
        {{ post.title }}</a>
      {% if showDescription %}
        <p> {{ post.description }} </p>
      {% endif %}
    </div>
    <div class="post__date">
      <time datetime="{{ post.date | date(format="%Y-%m-%d") }}">
        {{ post.date | date(format="%Y-%m-%d") }}
      </time>
    </div>
  </li>
{% endmacro %}

{% macro backlinks(page, title="page") %}
  {% if page.backlinks %}
    <div class="backlinks">
      <h2>Mention{{ page.backlinks | length | pluralize }} of this {{ title }}</h2>
      <ul class="backlinks__list">
        {% for backlink in page.backlinks %}
        <li>
          <a href="{{ backlink.permalink }}">
            {{ backlink.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro cv_experiences(title, array) %}
<section class="experiences">
  <h2 class="experiences__title">{{ title }}</h2>

  {% for experience in array %}
    <article class="experience">
      <header class="experience__header">
        <h3 class="experience__name">
          {{ experience.position }} 
        </h3>
        <div class="role__name">
          {% if experience.url %}
            <a href="{{ experience.url }}" target="_blank">
              {{ experience.name }}
            </a>
          {% else %}
            {{ experience.name }}
          {% endif %}
          <span>
            {{ experience.startDate | date(format="%b %Y") }} - {% if
            experience.endDate %}{{ experience.endDate | date(format="%b %Y") }}{% else %}present{%
            endif %}
          </span>
        </div>
      </header>
      <div class="experience__role">
        {% if experience.highlights %}
          {% if experience.highlights | length > 1 %}
          <ul class="role__list">
            {% for highlight in experience.highlights %}
            <li class="role__list-item">{{ highlight }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <p class="role__description">{{ experience.highlights | first }}</p>
          {% endif %}
        {% endif %}
      </div>
    </article>
  {% endfor %}
</section>
{% endmacro %}

{% macro cv_education(title, array) %}
<section class="experiences">
  <h2 class="experiences__title">{{ title }}</h2>

  {% for experience in array %}
    <article class="experience">
      <header class="experience__header">
        <h3 class="experience__name">
          {{ experience.studyType }} in {{ experience.area }}
        </h3>
        <div class="role__name">
          {% if experience.url %}
            <a href="{{ experience.url }}" target="_blank">
              {{ experience.insitution }}
            </a>
          {% else %}
            {{ experience.instituion }}
          {% endif %}
          <span>
            {{ experience.startDate | date(format="%b %Y") }} - {% if
            experience.endDate %}{{ experience.endDate | date(format="%b %Y") }}{% else %}present{%
            endif %}
          </span>
        </div>
      </header>
      <div class="experience__role">
        <p class="role__description">{{ experience.summary }}</p>
      </div>
    </article>
  {% endfor %}
</section>
{% endmacro %}

{% macro toc(toc, level=2) %}
<h2>Table of contents</h2>
<ul>
  {% for item in toc %}
    <li>
      <a href="{{ item.permalink }}">{{ item.title }}</a>
      {% if level > 1 and item.children %}
        <ul>
          {% for child in item.children %}
            <li>
              <a href="{{ child.permalink }}">{{ child.title }}</a>
              {% if child.children %}
                <ul>
                  {% for grand_child in child.children %}
                    <li>
                      <a href="{{ grand_child.permalink }}">{{ grand_child.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endmacro %}
