{% macro bloglisting_item(post, showDescription=true) %}
  <li class="blog__post">
    <div class="post__summary">
      <a href="{{ get_url(path=post.path) }}">
        {{ post.title }}</a>
      {% if showDescription %}
        <p> {{ post.description }} </p>
      {% endif %}
    </div>
    <div class="post__date">
      <time datetime="{{ post.date | date(format="%Y-%m-%d") }}">
        {{ post.date | date(format="%Y-%m-%d") }}
      </time>
    </div>
  </li>
{% endmacro %}

{% macro backlinks(page, title="page") %}
  {% if page.backlinks %}
    <div class="backlinks">
      <h2>Other link{{ page.backlinks | length | pluralize }} to this {{ title }}</h2>
      <ul class="backlinks__list">
        {% for backlink in page.backlinks %}
        <li>
          <a href="{{ backlink.permalink }}">
            {{ backlink.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}
