.blog {
  margin-left: 0;
  padding: 0;

  &__post {
    margin-bottom: 1.5em;
    list-style: none;

    @media (max-width: $breakpoint-medium2) {
      display: block;

      .post__summary span {
        margin-top: 0.5em;
      }
    }

    .post__date {
      flex-shrink: 0;
      margin-right: 1em;
      color: $color-gray-light;
    }

    .post__summary {
      hyphens: auto;

      span {
        display: block;
      }
    }
  }
}

article {
  hyphens: auto;

  .post-header {
    .post-title {
      hyphens: auto;
      max-width: max-content;
      border-bottom: 4px solid var(--color-primary);
    }
    .post-meta {
      font-size: .9rem;
      display: inline-flex;
      gap: .25rem;
      margin-bottom: .5rem;

      .author {
        font-weight: bold;
        margin-right: 0.5rem;
        text-transform: uppercase;
      }
    }
  }

  li {
    line-height: 2;
  }
}
