.blog {
  margin-left: 0;
  padding: 0;

  &__post {
    margin-bottom: 1.5em;
    list-style: none;
    display: inline-flex;

    @media (max-width: $breakpoint-medium2) {
      display: block;

      .post__summary span {
        margin-top: 0.5em;
      }
    }

    .post__date {
      flex-shrink: 0;
      margin-right: 1em;
    }

    .post__summary {
      hyphens: auto;

      span {
        display: block;
      }
    }
  }
}

article {
  hyphens: auto;

  .post-header {
    .post-meta {
      display: inline-flex;
      gap: .5em;
      margin-bottom: 1.5em;

      .author {
        font-weight: bold;
        margin-right: 0.5em;
        text-transform: uppercase;
      }
    }
  }

  li {
    line-height: 2;
  }
}
