@media print {
    html, body {
        background: white;
        color: black;
    }
	@page {
		size: A4;
	}

	.wrapper {
		margin: 0;
	}
	header.header,
	footer.footer {
		display: none !important;
		margin: 0;
	}

	.resume h1:before {
		content: "CV - ";
	}

	.secret {
		display: inline !important;
		&:before {
			content: "tim@harek.dev";
		}
	}
}
