.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;

  @media (max-width: $breakpoint-medium2) {
    grid-template-columns: 1fr;
  }
}

.project {
  padding: 1.5rem;
  border-radius: 0.65rem;
  border: 0.15rem solid transparent;
  transition: background 500ms ease;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  &:nth-child(even) {
    background: 
      linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
      linear-gradient(to right, #743ad5, #d53a9d) border-box;
  }

  &:nth-child(odd) {
    background: 
      linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
      linear-gradient(to left, #743ad5, #d53a9d) border-box;
  }

  &:first-child {
    background: 
      linear-gradient(var(--color-bg), var(--color-bg)) padding-box,
      linear-gradient(to right, var(--color-primary), var(--color-primary-inverse)) border-box;
    @media (min-width: $breakpoint-medium2) {
      grid-column: span 2;
    }
  }

  .project__header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1em;
  }

  .project__logo {
    width: 2.5rem;
  }

  .project__name {
    font-size: 1.2rem;
    margin: 0;
  }

  .project__description {
    margin: 0.5em 0;
  }

  .project__metadata {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em 1em;
  }
}
