section.repos {
  .repos-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $spacing;
  }

  .repo {
    .repo__name {
      margin: 0;
    }

    .repo__header {
      margin: $spacing 0;
      width: fit-content;
      display: flex;
      gap: $spacing;
      align-items: center;
    }

    .repo__language {
      font-size: 0.75rem;
      border: 0;
      background: var(--color-nav-accent);
      border-radius: $spacingSmall;
      padding: 0.2rem $spacingSmall;

      &.shell {
        background: #fdb81e;
        color: $color-black;
      }
      &.typescript {
        background: #e1f3f8;
        @media (prefers-color-scheme: dark) {
          color: $color-black;
        }
      }
      &.javascript {
        background: #02bfe7;
        color: $color-black;
      }
      &.python {
        background: $color-black;
        color: $color-white;
        @media (prefers-color-scheme: dark) {
          background: $color-white;
          color: $color-black;
        }
      }
      &.html {
        background: #f9dede;
        @media (prefers-color-scheme: dark) {
          color: $color-black;
        }
      }
    }

    .repo__last-commit {
      font-size: 0.8rem;
      color: var(--color-date);
    }
  }
}
