.page-review {
  .entries {
    display: grid;
    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
    }

    gap: 0.5rem 1rem;
    align-items: center;
    width: 100%;

    @media (max-width: $breakpoint-medium) {
      & div:nth-child(4n) {
        margin-bottom: 1.5rem;
      }
    }
  }
  .count {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
