.page-review {
  .entries {
    display: grid;
    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1.5fr 1fr 1fr 0.5fr;
    }

    gap: $spacingSmall $spacing;
    align-items: center;
    width: 100%;

    @media (max-width: $breakpoint-medium) {
      & div:nth-child(4n) {
        margin-bottom: $spacingLarge;
      }
    }
  }
  .count {
    margin-top: $spacing;
    margin-bottom: $spacing;
  }
}
